PROJECT_NAME=Mi API
SECRET_KEY=change-this-in-production
DATABASE_URL=postgresql+asyncpg://postgres:password@db:5432/app_db
ALLOWED_CLIENTS={"mi-app":"secreto-cliente"}
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=60
